<section class="text-center">
    <h2>ABOUT COMPONENT</h2>
    <div class="d-flex pt-3">
      <div class="line bg-white mt-2"></div>
      <div>
        <sup> <i class="fa-solid fa-star mx-4 sstar"></i></sup>
      </div>
  
      <div class="line bg-white mt-2"></div>
    </div>
    <div class="container pt-3">
      <div class="row g-3">
        <div class="col-md-6">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </div>
        <div class="col-md-6">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and JavaScript
            as well as optional SASS stylesheets for easy customization.
          </p>
        </div>
      </div>
    </div>
</section>
  
