<section class="footer">
    <div class="container">
      <div class="row g-4 text-center">
        <div class="col-md-4">
          <div class="foot-item">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="foot-item">
            <h3>AROUND THE WEB</h3>
            <ul>
              <li class="me-2">
                <a href=""><i class="fa-brands fa-facebook icon"></i></a>
              </li>
              <li li class="me-2">
                <a href=""><i class="fa-brands fa-twitter icon"></i></a>
              </li>
              <li li class="me-2">
                <a href=""><i class="fa-brands fa-linkedin icon"></i></a>
              </li>
              <li class="me-2">
                <a href=""><i class="fa-solid fa-globe icon"></i></a>
              </li>
            </ul>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="foot-item">
            <h3>ABOUT FREELANCER</h3>
            <p>
              Freelance is a free to use, licensed Bootstrap theme created by
              Route
            </p>
          </div>
        </div>
      </div>
    </div>