<section class="pt-5">
  <div class="container p-5">
    <div class="row g-3 pt-3">
      <div class="col-md-4" *ngFor="let imgSrc of imgArr; let i = index">
        <div class="portfolio-item">
          <figure>
            <img [src]="imgSrc" class="w-100 rounded" alt="erorr" />
          </figure>
          <div
            (click)="showModel(imgSrc, i)"
            class="portfolio-item-layer rounded"
            data-bs-toggle="modal"
            data-bs-target="#ImgModal"
          >
            <i class="fab fa-plus text-white"></i>
          </div>
        </div>

        <div (click)="showModel(imgSrc, i)"></div>
      </div>
    </div>
  </div>

  <div class="modal" id="ImgModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <figure>
            <img [src]="imgSrc" class="w-100 rounded" alt='errorr' />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
