<section class="home">
    <div class="container">
      <div class="imge-av">
        <img src="../../assets/avataaars.svg" alt="" srcset="" class="w-25" />
      </div>
      <h2 class="py-2">START FRAMEWORK</h2>
  
      <div class="d-flex pt-3 justify-content-center align-items-center pt-3">
        <div class="line bg-white mt-2"></div>
        <div>
          <sup> <i class="fa-solid fa-star mx-4 sstar"></i></sup>
        </div>
  
        <div class="line bg-white mt-2"></div>
      </div>
      <p class="pt-3">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </section>
  